*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.testata{
    width: 100%;
    background-color: aquamarine;
    font-size: 30px;
    padding: 25px;

}
#titolo{
    display: inline-block;
}
#logo{
    transform: scale(1.5)
}