*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
 background-color: rgba(149, 163, 163, 0.534);
}
.testata{
    width: 100%;
    font-size: 30px;
    padding: 25px;
    background-color: white;

}
#titolo{
    display: inline-block;
    vertical-align: middle;
}
#logo{
    transform: scale(1.5);
    vertical-align: middle;
}
.box{
    background-color: white;
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 70px;
    border-radius: 1%;
}
.button{
    margin-left: 50px;
    padding: 30px;
}
#bblu{
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 7px;
    color: white;
    font-weight: bold;
    border: 0px solid grey;

}
#bgrigio{
    padding: 10px;
    border-radius: 7px;
    color: grey;
    font-weight: bold;
    border: 1px solid grey;
}
.newtask{
    margin-left: 50px;
    padding: 30px;
    display: inline-block;
}
.editorial{
    color: white;
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(0, 153, 255)
}
